# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

##### 1- Python
##### 2- R
##### 3- SQL

Some of the commonly used libraries used by Data Scientists include:

1. Panadas
2. Pytorch
3. matplotlib

#### Data Science Tools

|Data Science Tools|
|--------------------|
|Jupyter Notebook|
|RStudio|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200*60

12000

**Objectives:**

* list some of the popular languages that Data Scientists use
* list some of the commonly used libraries used by Data Scientists
* list some of the used Data Science Tools used by Data Scientists

## Author:
Hassan Darwish